/* meta */

/********************************************************************************************************/
.row {
    padding-right: 0px;
    margin-right: 0px;
}
/* Header and Footer */
nav {
    font-family: 'Source Sans Pro','sans-serif';
    font-size: 1.25em;
}

.navbar-collapse {
    justify-content: center;
}

.dropdown-menu {
    font-family: 'Source Sans Pro','sans-serif';
    font-size: 1em;
}

#username {
    list-style: none;
}
#username.nav-link {
    text-decoration: none !important;
}

/* Body */

body {
    /*background: linear-gradient(rgba(2,2,1,1), rgba(2,2,1,1)), url(https://www.graphicartsunit.com/images/noise.png);*/
    /*background-image: url("https://www.graphicartsunit.com/images/noise.png");*/
}
.container {
    background-color: white;
}

.container h1 {
    font-family: 'Raleway','sans-serif';
}
.container p, h6 {
    font-family: 'Source Sans Pro','serif';
}
.container button {
    font-family: 'Open Sans','sans-serif';
    font-size: 1.5em;
}

/* Boîte de recherche */
.searchBox {
    padding: 10%;
    width: 100%;
    text-align: center;
    background: url('../assets/photos/backgrounds/bg-search-alt-hands.jpg');
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
}
.searchBox button {
    width: 40%;
    margin: auto;
    padding: 0;
}

.searchBox h1 {
    color: white;
    font-weight: bolder;
}

.searchBox .btn {
    width: 180px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2EE59D;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.searchBox .btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.searchBox .form-control-borderless {
    border: none;
    border-bottom: 1px solid grey;
}

.searchBox .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border-bottom: 1px solid grey;
    outline: none;
    box-shadow: none;
}

/* Recettes en vedette */
#vedettes {
    text-align: center;
}
.bio {
    border-radius: 50%;
}

.card {
    box-shadow: 0 8px 6px -6px black;
    font-family: "Source Sans Pro",'sans-serif';
}
.card-text {
    font-family: "Source Sans Pro",'sans-serif';
}

/* Partage des recettes */
#partage {
    padding: 5%;
    text-align: center;
    /*background: url("../assets/photos/backgrounds/footer-bg.png") repeat 0 0 #8BBE7C;*/
    background: url("../assets/photos/backgrounds/footer-bg-alt.jpg") no-repeat;
    background-size: cover;
    background-position-y: center;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

#partage h1 {
    padding: 1%;
}

#partage button {
    display: inline-block;
    /*background: #4258f4;*/
    background: #2EE59D;
    color: #fff;
    font-family: Roboto,'sans-serif';
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 30px;
    border: white;
    border-radius: 5px;
    box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
#partage button:hover {
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0);
    transform: translate(0, -10px);
}

/******************************************************************************************************/
/* Page Recette */
.titre-recette {
    border: 10px double;
    border-top-right-radius: 15px;
}
.titre-recette h6 {
    color: black;
}
#description {
    text-align: justify;
    font-family: 'Source Sans Pro','sans-serif';
    font-size: 1.25em;
}
#preparation li {
    text-align: justify;
    font-family: 'Source Sans Pro','sans-serif';
    font-size: 1.1em;
}
#recette-meta {
    font-weight: bold;
}
#ingredients li {
    font-family: 'Source Sans Pro','sans-serif';
    font-size: 1.1em;
}

#imageRecette {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    transform: rotate(6deg);
}

/* Page membre */
#bg-texture {
    width: 1200px;
    height: 300px;
}

#bio-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 8px solid white;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

#banner {
    background: url("../assets/photos/textures/pattern.png");
    height: 150px;
    border-radius: 20px;
}

.bio-bg {
    background: url("../assets/photos/textures/pattern.png");
    border-radius: 15px;
}

.bio-summary {
    font-family: "Source Sans Pro", 'sans-serif';
}

/* Page resultats */
#resultats .col-sm-4 {
    margin-bottom: 20px;
}

/* Page d'inscription */
#titreInscription {
    font-size: 2em;
}